resources/bcb.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="https://www3.bcb.gov.br/wssgs/services/FachadaWSSGS" xmlns:intf="https://www3.bcb.gov.br/wssgs/services/FachadaWSSGS" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://DefaultNamespace" xmlns:tns2="http://comum.ws.casosdeuso.sgs.pec.bcb.gov.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://www3.bcb.gov.br/wssgs/services/FachadaWSSGS">
  <wsdl:types>
    <schema targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://comum.ws.casosdeuso.sgs.pec.bcb.gov.br"/>
      <import namespace="https://www3.bcb.gov.br/wssgs/services/FachadaWSSGS"/>
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <complexType name="ArrayOfflong">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:long[]"/>
          </restriction>
        </complexContent>
      </complexType>
    </schema>
    <schema targetNamespace="http://comum.ws.casosdeuso.sgs.pec.bcb.gov.br" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://DefaultNamespace"/>
      <import namespace="https://www3.bcb.gov.br/wssgs/services/FachadaWSSGS"/>
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <complexType name="WSValorSerieVO">
        <sequence>
          <element name="ano" type="xsd:int"/>
          <element name="anoFim" type="xsd:int"/>
          <element name="bloqueado" type="xsd:boolean"/>
          <element name="bloqueioLiberado" type="xsd:boolean"/>
          <element name="dia" type="xsd:int"/>
          <element name="diaFim" type="xsd:int"/>
          <element name="mes" type="xsd:int"/>
          <element name="mesFim" type="xsd:int"/>
          <element name="oid" type="xsd:long"/>
          <element name="oidSerie" type="xsd:long"/>
          <element name="svalor" nillable="true" type="xsd:string"/>
          <element name="valor" nillable="true" type="xsd:decimal"/>
        </sequence>
      </complexType>
      <complexType name="WSSerieVO">
        <sequence>
          <element name="anoFim" type="xsd:int"/>
          <element name="anoInicio" type="xsd:int"/>
          <element name="aviso" nillable="true" type="xsd:string"/>
          <element name="diaFim" type="xsd:int"/>
          <element name="diaInicio" type="xsd:int"/>
          <element name="especial" type="xsd:boolean"/>
          <element name="fonte" nillable="true" type="xsd:string"/>
          <element name="fullName" nillable="true" type="xsd:string"/>
          <element name="gestorProprietario" nillable="true" type="xsd:string"/>
          <element name="mesFim" type="xsd:int"/>
          <element name="mesInicio" type="xsd:int"/>
          <element name="nomeAbreviado" nillable="true" type="xsd:string"/>
          <element name="nomeCompleto" nillable="true" type="xsd:string"/>
          <element name="oid" type="xsd:long"/>
          <element name="periodicidade" nillable="true" type="xsd:string"/>
          <element name="periodicidadeSigla" nillable="true" type="xsd:string"/>
          <element name="possuiBloqueios" type="xsd:boolean"/>
          <element name="publica" type="xsd:boolean"/>
          <element name="shortName" nillable="true" type="xsd:string"/>
          <element name="ultimoValor" nillable="true" type="tns2:WSValorSerieVO"/>
          <element name="unidadePadrao" nillable="true" type="xsd:string"/>
          <element name="unidadePadraoIngles" nillable="true" type="xsd:string"/>
          <element name="valorDiaNaoUtil" type="xsd:boolean"/>
          <element name="valores" nillable="true" type="impl:ArrayOf_tns2_WSValorSerieVO"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOffWSSerieVO">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:WSSerieVO[]"/>
          </restriction>
        </complexContent>
      </complexType>
    </schema>
    <schema targetNamespace="https://www3.bcb.gov.br/wssgs/services/FachadaWSSGS" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://DefaultNamespace"/>
      <import namespace="http://comum.ws.casosdeuso.sgs.pec.bcb.gov.br"/>
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <complexType name="ArrayOf_tns2_WSValorSerieVO">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:WSValorSerieVO[]"/>
          </restriction>
        </complexContent>
      </complexType>
    </schema>
  </wsdl:types>
  <wsdl:message name="getUltimoValorXMLResponse">
    <wsdl:part name="getUltimoValorXMLReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getUltimosValoresSerieVOResponse">
    <wsdl:part name="getUltimosValoresSerieVOReturn" type="tns2:WSSerieVO"/>
  </wsdl:message>
  <wsdl:message name="getValorRequest">
    <wsdl:part name="in0" type="xsd:long"/>
    <wsdl:part name="in1" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getValoresSeriesXMLRequest">
    <wsdl:part name="in0" type="tns1:ArrayOfflong"/>
    <wsdl:part name="in1" type="xsd:string"/>
    <wsdl:part name="in2" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getValoresSeriesXMLResponse">
    <wsdl:part name="getValoresSeriesXMLReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getValorEspecialRequest">
    <wsdl:part name="in0" type="xsd:long"/>
    <wsdl:part name="in1" type="xsd:string"/>
    <wsdl:part name="in2" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getValoresSeriesVOResponse">
    <wsdl:part name="getValoresSeriesVOReturn" type="tns2:ArrayOffWSSerieVO"/>
  </wsdl:message>
  <wsdl:message name="getValorEspecialResponse">
    <wsdl:part name="getValorEspecialReturn" type="xsd:decimal"/>
  </wsdl:message>
  <wsdl:message name="getUltimosValoresSerieVORequest">
    <wsdl:part name="in0" type="xsd:long"/>
    <wsdl:part name="in1" type="xsd:long"/>
  </wsdl:message>
  <wsdl:message name="getValorResponse">
    <wsdl:part name="getValorReturn" type="xsd:decimal"/>
  </wsdl:message>
  <wsdl:message name="getValoresSeriesVORequest">
    <wsdl:part name="in0" type="tns1:ArrayOfflong"/>
    <wsdl:part name="in1" type="xsd:string"/>
    <wsdl:part name="in2" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getUltimoValorVORequest">
    <wsdl:part name="in0" type="xsd:long"/>
  </wsdl:message>
  <wsdl:message name="getUltimoValorVOResponse">
    <wsdl:part name="getUltimoValorVOReturn" type="tns2:WSSerieVO"/>
  </wsdl:message>
  <wsdl:message name="getUltimoValorXMLRequest">
    <wsdl:part name="in0" type="xsd:long"/>
  </wsdl:message>
  <wsdl:portType name="FachadaWSSGS">
    <wsdl:operation name="getValoresSeriesVO" parameterOrder="in0 in1 in2">
      <wsdl:input name="getValoresSeriesVORequest" message="impl:getValoresSeriesVORequest"/>
      <wsdl:output name="getValoresSeriesVOResponse" message="impl:getValoresSeriesVOResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getUltimosValoresSerieVO" parameterOrder="in0 in1">
      <wsdl:input name="getUltimosValoresSerieVORequest" message="impl:getUltimosValoresSerieVORequest"/>
      <wsdl:output name="getUltimosValoresSerieVOResponse" message="impl:getUltimosValoresSerieVOResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getValoresSeriesXML" parameterOrder="in0 in1 in2">
      <wsdl:input name="getValoresSeriesXMLRequest" message="impl:getValoresSeriesXMLRequest"/>
      <wsdl:output name="getValoresSeriesXMLResponse" message="impl:getValoresSeriesXMLResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getUltimoValorVO" parameterOrder="in0">
      <wsdl:input name="getUltimoValorVORequest" message="impl:getUltimoValorVORequest"/>
      <wsdl:output name="getUltimoValorVOResponse" message="impl:getUltimoValorVOResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getUltimoValorXML" parameterOrder="in0">
      <wsdl:input name="getUltimoValorXMLRequest" message="impl:getUltimoValorXMLRequest"/>
      <wsdl:output name="getUltimoValorXMLResponse" message="impl:getUltimoValorXMLResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getValor" parameterOrder="in0 in1">
      <wsdl:input name="getValorRequest" message="impl:getValorRequest"/>
      <wsdl:output name="getValorResponse" message="impl:getValorResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getValorEspecial" parameterOrder="in0 in1 in2">
      <wsdl:input name="getValorEspecialRequest" message="impl:getValorEspecialRequest"/>
      <wsdl:output name="getValorEspecialResponse" message="impl:getValorEspecialResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FachadaWSSGSSoapBinding" type="impl:FachadaWSSGS">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getValoresSeriesVO">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getValoresSeriesVORequest">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://publico.ws.casosdeuso.sgs.pec.bcb.gov.br"/>
      </wsdl:input>
      <wsdl:output name="getValoresSeriesVOResponse">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://www3.bcb.gov.br/wssgs/services/FachadaWSSGS"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUltimosValoresSerieVO">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getUltimosValoresSerieVORequest">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://publico.ws.casosdeuso.sgs.pec.bcb.gov.br"/>
      </wsdl:input>
      <wsdl:output name="getUltimosValoresSerieVOResponse">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://www3.bcb.gov.br/wssgs/services/FachadaWSSGS"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getValoresSeriesXML">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getValoresSeriesXMLRequest">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://publico.ws.casosdeuso.sgs.pec.bcb.gov.br"/>
      </wsdl:input>
      <wsdl:output name="getValoresSeriesXMLResponse">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://www3.bcb.gov.br/wssgs/services/FachadaWSSGS"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUltimoValorVO">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getUltimoValorVORequest">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://publico.ws.casosdeuso.sgs.pec.bcb.gov.br"/>
      </wsdl:input>
      <wsdl:output name="getUltimoValorVOResponse">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://www3.bcb.gov.br/wssgs/services/FachadaWSSGS"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUltimoValorXML">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getUltimoValorXMLRequest">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://publico.ws.casosdeuso.sgs.pec.bcb.gov.br"/>
      </wsdl:input>
      <wsdl:output name="getUltimoValorXMLResponse">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://www3.bcb.gov.br/wssgs/services/FachadaWSSGS"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getValor">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getValorRequest">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://publico.ws.casosdeuso.sgs.pec.bcb.gov.br"/>
      </wsdl:input>
      <wsdl:output name="getValorResponse">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://www3.bcb.gov.br/wssgs/services/FachadaWSSGS"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getValorEspecial">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getValorEspecialRequest">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://publico.ws.casosdeuso.sgs.pec.bcb.gov.br"/>
      </wsdl:input>
      <wsdl:output name="getValorEspecialResponse">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://www3.bcb.gov.br/wssgs/services/FachadaWSSGS"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FachadaWSSGSService">
    <wsdl:port name="FachadaWSSGS" binding="impl:FachadaWSSGSSoapBinding">
      <wsdlsoap:address location="https://www3.bcb.gov.br/wssgs/services/FachadaWSSGS"/>
    </wsdl:port>
  </wsdl:service>
  <!--WSDL created by Apache Axis version: 1.2.1
Built on Jun 14, 2005 (09:15:57 EDT)-->
</wsdl:definitions>

